<!DOCTYPE html>
<html>
<head> 
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Librería</title>
</head>
<body>
<div class="container mt-4">

<h2>======= BIBLIOTECA PERSONAL=======</h2>

{% with msgs = get_flashed_messages(with_categories=true) %}
    {% if msgs %}
        {% for category, message in msgs %}
            <div class="flash-message {{category}}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% block contenido %}{% endblock %}

</div>
</body>
</html>