{% extends "base.html" %}

{% block title %}Eliminar libro{% endblock %}


{% block contenido %}
<h1>Eliminar libro</h1>
<h2>Listado de Libros</h2>
<form action="{{ url_for('delfront') }}" method="POST">

<table>
    <thead class="titulo">
        <th>Codigo</th>
        <th>Titulo</th>
        <th>Autor</th>
        <th>Genero</th>
        <th>Año</th>
        <th>Lectura</th>
        <th></th>
    </thead>

    <tbody class = "titulo1">
        {% for l in libros %}
        <tr>
            <td>{{l.id}}</td>
            <td>{{l.Titulo}}</td>
            <td>{{l.Autor}}</td>
            <td>{{l.Genero}}</td>
            <td>{{l.Ano}}</td>
            <td>{{"Leido" if l.Estado_Lectura == 1 else "No leido" }}</td>
            <td><button class="btn-update" type="button" onclick="setids('{{l.id}}')">Eliminar</button></td>
        </tr>
        {% endfor%}
    </tbody>
</table>
<input type="hidden" id="id" name="id">

<h2 id="libro"></h2>

<div class="fila1" id="confirmBtns">
    <button class="btn-update1", type="submit">Confirmar</button>
    <button class="btn-update1">Cancelar</button>
</div>

<script>
function setids(id){
    document.getElementById("id").value = id; 
    document.getElementById("libro").textContent = "Esta apunto de eliminar el libro " + id;
    document.getElementById("confirmBtns").style.display = "block";
    document.querySelectorAll(".btn-update").forEach(btn => {btn.style.display = "none";});
    document.querySelectorAll(".btn-update1").forEach(btn => {btn.style.display = "inline-block";});
    }
</script>   

    <button type="button" class="btn" onclick="inicio()">Inicio</button>
    <script>function inicio(){
        window.location.href = "{{ url_for('index') }}";
        }
    </script>
</form>

{% endblock %}