{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block contenido %}
<h4>Que desea realizar?</h4>
<section class="ser">

<div class="fila">
    <p>1. Agregar nuevo libro</p> 
    <button class="btn" onclick="addLibro()">Agregar</button>
</div>

<script>function addLibro(){
        window.location.href = "{{ url_for('addfront') }}";
}
</script>

<div class="fila">
    <p>2. Actualizar información de un libro</p> 
    <button class="btn" onclick="updt()">Actualizar</button>
</div>
<script>function updt(){
        window.location.href = "{{ url_for('updtfont') }}";
}
</script>

<div class="fila">
    <p>3. Eliminar libro existente</p> 
    <button class="btn" onclick="delibr()">Eliminar</button>
</div>
<script>function delibr(){
        window.location.href = "{{ url_for('delfront') }}";
}
</script>

<div class="fila">
    <p>4. Listar libros</p> 
    <button class="btn" onclick="looklibro()">Buscar</button>
</div>
<script>function looklibro(){
        window.location.href = "{{ url_for('listad') }}";
}
</script>

<div class="fila">
    <p>5. Buscar libros</p> 
    <button class="btn" onclick="look()">Buscar</button>
</div>
<script>function look(){
        window.location.href = "{{ url_for('listad') }}";
}
</script>

</section>

{% endblock %}
