{% extends "base.html" %}

{% block title %}Actualizar libros{% endblock %}


{% block contenido %}
<h1>Listado de Libros</h1>
<table>
    <thead class="titulo">
        <th>Codigo</th>
        <th>Titulo</th>
        <th>Autor</th>
        <th>Genero</th>
        <th>Año</th>
        <th>Lectura</th>
        <th></th>
    </thead>

    <tbody class = "titulo1">
        {% for l in libros %}
        <tr>
            <td>{{l.id}}</td>
            <td>{{l.Titulo}}</td>
            <td>{{l.Autor}}</td>
            <td>{{l.Genero}}</td>
            <td>{{l.Ano}}</td>
            <td>{{"Leido" if l.Estado_Lectura == 1 else "No leido" }}</td>
            <td><button class="btn-update" type="button" onclick="setids('{{l.id}}')">Actualizar</button></td>
        </tr>
        {% endfor%}
    </tbody>
</table>

<script>function setids(id){
    document.getElementById("id").value = id; 
    const botn = document.querySelectorAll(".btn-update")
    document.getElementById("libro").textContent = "Nuevos datos para el libro " + id;
    document.querySelectorAll(".btn-update").forEach(btn => {btn.style.display = "none";});
    document.querySelectorAll(".btn-update1").forEach(btn => {btn.style.display = "inline-block ";});
    }
</script>

<form action="{{ url_for('updtfont') }}" method="POST">
    <h2 id="libro">Nuevos datos Para el libro </h2>
    <h4>Ingrese los datos y haga click en el libro que desea actualizar</h4>
    <div class="fila">    
        <input type="hidden" id="id" name="id">
        <label class="let">Título:</label>
        <input type="text" name="titulo" required>
        <label class="let">Autor:</label>
        <input type="text" name="autor" required>
        <label class="let">Genero:</label>
        <input type="text" name="genero" required>
        <label class="let">Año:</label>
        <input type="number" name="ano" required>
        <label class="let">Estado (1. Leido / 2.No leido):</label>
        <input type="number" name="estado1" required>
    </div>
    <div class="fila1">    <button class="btn-update1" type="submit" >Guardar</button>
</div>

</form>

    <button type="button" class="btn" onclick="inicio()">Inicio</button>
    <script>function inicio(){
        window.location.href = "{{ url_for('index') }}";
        }
    </script>



{% endblock %}